
body{
    background: #1B244A;
}
.container {

    display: flex;
    justify-content: space-around;

}
.home,.guest {
text-align: center;
}

#home-text, #guest-text {

    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    color: #EEEEEE;
    margin: 20px

}

#home-num, #guest-num {

    margin:auto;
    width:50%;
    background-color: black;
    width: 117px;
    height: 120px;
    left: 100px;
    top: 125px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    /* or 141% */
    text-align: center;
    color: #F94F6D;
    width: 155px;
    height: 120px;
    left: 82px;
    top: 125px;

    background: #080001;
    border-radius: 5px;
    margin-bottom: 20px;

}

button {

    width: 30px;
    height: 25.77px;
    left: 89px;
    top: 280px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #9AABD8;
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    left: 82px;
    top: 271px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background: transparent;

}
button:hover {
    color: #c2c6d1;   
     border: 2px solid #c2c6d1;



}